@{
    var p = Page.Pane;
    var contents = Page.PageData;
    var db = Database.Open(App.Database);

    if (p == "NavigationPane")
    {
        var sql = "select * from pages";
        var pages = db.Query(sql);
        foreach (var item in pages)
        {
            var url = item.url;
            if(item.url=="/")
            {
                url = "";
            }
            <li class="active"><a href="~/@url">@item.page_name_in_menu</a></li>
        }
    }
}


@foreach (var item in contents)
{

    if (item.pane_name == p)
    {
        var sql = @"select pc.id, pc.title, pl.code_file 
                    from page_contents pc
                    inner join plugins pl on pc.plugid=pl.id 
                    where pc.id=@0";
        var plugin = db.QuerySingle(sql, item.id);
        if (plugin != null)
        {
            @RenderPage(plugin.code_file, new { Data = plugin });
        }
        @*<p>this is pane=@item.title</p>*@
    }
}

